api-gateway/node_modules
api-gateway/package-lock.json

characters-service/node_modules
characters-service/package-lock.json
characters-service/coverage
characters-service/.env

players-service/node_modules
players-service/package-lock.json
players-service/coverage

.DS_Store
